.text{
    color: brown;
}
.text2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    color: blue;
    border-image-outset: 1cm;
    background-color: wheat;
}
.book{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 100px;
}